<script>
    import {
        DataPacket_Kind,
        Room,
        RoomEvent,
        VideoPresets,
        Track,
    } from "../livekit-client.esm.mjs";
    import dayjs from "dayjs";
    export let token;
    const connect = async () => {
        const room = new Room({
            adaptiveStream: true,
            dynacast: true,
        });
        room.on(RoomEvent.TrackSubscribed, handleTrackSubscribed)
            .on(RoomEvent.DataReceived, handleData)
            .on(RoomEvent.TrackUnsubscribed, handleTrackUnsubscribed)
            .on(RoomEvent.ActiveSpeakersChanged, handleActiveSpeakerChange)
            .on(RoomEvent.Disconnected, handleDisconnect)
            .on(RoomEvent.LocalTrackUnpublished, handleLocalTrackUnpublished)
            .on(RoomEvent.ParticipantConnected, participantConnected)
            .on(RoomEvent.ParticipantDisconnected, participantDisconnected);
        await room.connect("ws://localhost:7880", token);
        config.room = room;
        // config.title = JSON.parse(room.metadata).title
        participant_list =
            [...config.room.participants].map(([name, value]) => ({
                name,
                value,
            })) || [];
        console.log("connected to room", room.name);
    };
    function handleTrackSubscribed(track, publication, participant) {
        if (
            track.kind === Track.Kind.Video ||
            track.kind === Track.Kind.Audio
        ) {
            let el = document.querySelector("#" + track.kind);
            const element = track.attach(el);
        }
        nofeed = false;
    }

    function handleTrackUnsubscribed(track, publication, participant) {
        track.detach();
    }

    function handleLocalTrackUnpublished(track, participant) {
        track.detach();
    }

    function handleActiveSpeakerChange(speakers) {}

    function handleDisconnect() {
        console.log("disconnected from room");
    }
    function participantConnected(e) {
        participant_list =
            [...config.room.participants].map(([name, value]) => ({
                name,
                value,
            })) || [];
    }
    function participantDisconnected(e) {
        participant_list =
            [...config.room.participants].map(([name, value]) => ({
                name,
                value,
            })) || [];
    }

    const senddata = (e) => {
        if (e.key == "Enter") {
            console.log(e);
            const msg = new TextEncoder().encode(
                JSON.stringify({ type: "message", content: e.target.value })
            );
            config.room.localParticipant.publishData(
                msg,
                DataPacket_Kind.RELIABLE
            );
            console.log(msg);
            chat_list = [
                ...chat_list,
                {
                    date: dayjs(),
                    type: "message",
                    from: "ME",
                    message: e.target.value,
                    publisher: false,
                },
            ];
            e.target.value = "";
        }
    };
    const handsup = () => {
        user.handsup = !user.handsup;
        const msg = new TextEncoder().encode(
            JSON.stringify({
                type: "handsup",
                content: user.handsup ? "up" : "down",
            })
        );
        config.room.localParticipant.publishData(msg, DataPacket_Kind.RELIABLE);
    };
    function handleData(msg, participant) {
        const str = JSON.parse(new TextDecoder().decode(msg));

        if (str.type == "message") {
            let from = "server";
            let publisher = false;
            if (participant) {
                from = participant.identity;
                publisher = JSON.parse(participant.metadata).publisher;
            }
            chat_list = [
                ...chat_list,
                {
                    date: dayjs(),
                    type: "message",
                    from: from,
                    message: str.content,
                    publisher: publisher,
                },
            ];
        }
    }

    let poll_list = [];
    let poll_selected = null;
    let nofeed = true;
    let right_panel = "chat";

    let participant_list = [];
    let handsup_list = [];
    let transaction_list = {};
    let chat_list = [];

    const config = {
        room: null,
        title: "Live streaming class",
        tracks_local: {},
        videos_local: 0,
        tracks_remote: {},
        feeds: [],
        started_at: null,
        session_started: false,
        session_duration: 0,
        muted: false,
    };

    const user = {
        id: "",
        pvtid: "",
        stream: "",
        username: "",
        display_name: "",
        handsup: false,
    };
</script>

<div class="w-full h-full bg-gray-800 flex flex-col">
    <div class="w-full h-14 shadow-c z-10 relative hidden lg:flex">
        <nav class="flex w-full h-full items-center py-2 px-4 justify-between">
            <div class="w-2/10 flex h-full gap-2">
                <span
                    class="flex items-center justify-start text-white font-bold"
                    >SINERGIACADEMY</span
                >
            </div>
            <div
                class="flex-1 flex h-full justify-center items-center text-white text-center text-sm"
            >
                Judul live class disini ya jangan lupa
            </div>
            <div class="w-2/10 flex items-center h-full gap-4 justify-end" />
        </nav>
    </div>
    <div class="w-full flex-1 flex flex-col sm:flex-row">
        <div
            class={`md:flex-1 py-2 lg:py-6 px-2 rounded  ${
                right_panel == false ? "flex-1" : "aspect-video"
            }`}
        >
            <div class="w-full h-full bg-black rounded-lg relative">

                {#if nofeed}
                    <div class="w-full h-full">
                        <video
                            src="/assets/waiting.mp4"
                            class="w-full h-full"
                            autoplay
                            playsinline
                            muted
                            loop
                        />
                    </div>
                {:else}
                    <div id="parent">
                        <audio id="audio" autoplay  />
                        <video id="video" playsinline muted autoplay  />
                    </div>
                {/if}
            </div>
        </div>
        {#if right_panel == "chat"}
            <div
                class={`flex-1 w-full sm:h-full sm:w-1/2 md:max-w-[360px] px-2 md:px-0 py-2 `}
            >
                <div
                    class="w-full h-full bg-white rounded-lg z-20 relative overflow-hidden flex flex-col"
                >
                    <div class="w-full p-4 flex items-center">
                        <span class="font-medium" />
                        <span class="font-medium">Chat</span>
                    </div>
                    <div class="flex-1 chat w-full h-full" id="chatroom">
                        {#each chat_list as message}
                            <div>
                                {#if message.type == "message"}
                                    <div class="px-4 p-2 text-sm">
                                        <div class="">
                                            <strong
                                                class={message.from == "server"
                                                    ? "text-blue-500"
                                                    : message.publisher
                                                    ? "text-green-500"
                                                    : ""}>{message.from}</strong
                                            >
                                            <span class="text-xs text-gray-500 "
                                                >{dayjs(message.date).format(
                                                    "HH:mm:ss"
                                                )}</span
                                            >
                                        </div>
                                        <div class="text-gray-600">
                                            {message.message}
                                        </div>
                                    </div>
                                {:else}
                                    <div
                                        class={`text-center my-1 ${
                                            message.type == "join"
                                                ? "text-green-400"
                                                : message.type == "leave"
                                                ? "text-yellow-400"
                                                : "text-blue-400"
                                        }`}
                                    >
                                        {message.type == "join"
                                            ? `${message.username} joined`
                                            : message.type == "leave"
                                            ? `${message.username} left`
                                            : message.message}
                                    </div>
                                {/if}
                            </div>
                        {/each}
                    </div>

                    <div class="w-full h-16 p-4 flex items-center">
                        <div class="bg-gray-100 rounded h-10 w-full">
                            <input
                                type="text"
                                class="w-full h-full bg-transparent px-4 text-sm"
                                placeholder="Type here and press enter to send"
                                autocomplete="off"
                                id="datasend"
                                on:keypress={senddata}
                            />
                        </div>
                    </div>
                </div>
            </div>
        {/if}
    </div>
    <div class="w-full h-10 lg:h-14 shadow-c z-10 relative">
        <nav class="flex h-full items-center py-1 lg:py-2 px-4 justify-between">
            <div class="w-2/10 flex h-full">
                <button
                    class="rounded px-4 h-full bg-red-500 text-white flex items-center justify-center gap-2"
                >
                    <i class="ri-eye-2-line" />
                    <span class="text-sm">
                        {Object.entries(participant_list).length}
                    </span>
                </button>
            </div>
            <div
                class="w-6/10 flex h-full justify-center items-center text-white gap-4"
            >
                <button
                    class={`rounded-full w-8 h-8 md:w-10 md:h-10 text-white flex items-center justify-center ${
                        right_panel == "chat" ? "bg-blue-500" : ""
                    }`}
                    on:click={() => {
                        right_panel = right_panel == "chat" ? false : "chat";
                    }}
                >
                    <i class="ri-message-line text-lg" />
                </button>
                <button
                    class={`rounded-full w-8 h-8 md:w-10 md:h-10 text-white flex items-center justify-center ${
                        user.handsup ? "bg-blue-500" : ""
                    }`}
                    on:click={handsup}
                >
                    <img
                        src="./assets/icons8-hand-64.png"
                        alt=""
                        class="h-6/10"
                    />
                </button>
            </div>
            <div class="w-2/10 flex items-center h-full gap-4 justify-end">
                <!-- <div class="text-white hidden sm:flex">0:00:00</div> -->
                <button
                    on:click={connect}
                    class={`rounded px-4 h-full  text-white flex items-center justify-center text-sm ${config.room?'bg-red-500':'bg-green-500'}`}
                >
                    {config.room?'DISCONNECT':'CONNECT'}
                </button>
            </div>
        </nav>
    </div>
</div>

<style>
    .shadow-c {
        box-shadow: 0px 0px 10px 0px #00000088;
    }
    .flex {
        min-height: 0;
        flex-wrap: nowrap;
    }
    .chat {
        overflow-y: auto;
    }
    :global(#parent, #parent video) {
        width: 100%;
        height: 100%;
    }
    @media only screen and (max-width: 768px) {
        .aspect-video {
            aspect-ratio: 16/9;
        }
    }
</style>
