<script>
    import jwt_decode from "jwt-decode";
    import NotFound from "./lib/NotFound.svelte";
    import Publisher from "./lib/Publisher.svelte";
    import Viewer from "./lib/Viewer.svelte";
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get("token");
    console.log(token);
    let publisher = false;
    if (token) {
        try {
            let jwt = jwt_decode(token);
            publisher = JSON.parse(jwt?.metadata)?.publisher;
        } catch (error) {
            window.location.replace(window.location.href.split("?")[0]);
        }
    }
</script>

<main class="w-full h-full">
    {#if token}
        {#if publisher}
            <Publisher {token} />
        {:else}
            <Viewer {token} />
        {/if}
    {:else}
        <NotFound />
    {/if}
</main>
